* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background: #03000c;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

#title-first {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  font-size: 6em;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
  font-weight: 300;
  z-index: 100;
  animation: fade-in 4s linear 1;
}

#title-first span {
  background: -webkit-linear-gradient(#fff, #1BFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  font-size: 6em;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
  font-weight: 300;
  z-index: 100;
}

#title span {
  background: -webkit-linear-gradient(#fff, #1BFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1871px 1388px #FFF , 206px 212px #FFF , 1661px 1559px #FFF , 1736px 1638px #FFF , 837px 382px #FFF , 1614px 834px #FFF , 741px 1923px #FFF , 565px 337px #FFF , 716px 1174px #FFF , 133px 934px #FFF , 1420px 1288px #FFF , 424px 93px #FFF , 1537px 1134px #FFF , 755px 586px #FFF , 966px 972px #FFF , 1889px 293px #FFF , 421px 1819px #FFF , 1118px 1765px #FFF , 1976px 958px #FFF , 417px 283px #FFF , 203px 1823px #FFF , 182px 1639px #FFF , 302px 797px #FFF , 1294px 1853px #FFF , 1679px 1523px #FFF , 1027px 578px #FFF , 1788px 26px #FFF , 1341px 756px #FFF , 1193px 1910px #FFF , 672px 1303px #FFF , 1065px 126px #FFF , 743px 245px #FFF , 917px 1920px #FFF , 1911px 933px #FFF , 1240px 1508px #FFF , 1258px 1798px #FFF , 645px 1331px #FFF , 633px 1946px #FFF , 1794px 482px #FFF , 1893px 261px #FFF , 224px 1119px #FFF , 951px 106px #FFF , 132px 1360px #FFF , 85px 187px #FFF , 1622px 677px #FFF , 1522px 275px #FFF , 648px 35px #FFF , 1631px 1068px #FFF , 877px 1728px #FFF , 873px 1097px #FFF , 1013px 967px #FFF , 1652px 1097px #FFF , 1684px 1988px #FFF , 1772px 762px #FFF , 179px 596px #FFF , 1288px 1439px #FFF , 1752px 119px #FFF , 329px 993px #FFF , 1820px 1384px #FFF , 1558px 1083px #FFF , 1339px 1468px #FFF , 1928px 1682px #FFF , 1458px 1157px #FFF , 1884px 218px #FFF , 1288px 1759px #FFF , 1712px 1052px #FFF , 643px 1301px #FFF , 1255px 143px #FFF , 1159px 690px #FFF , 467px 1028px #FFF , 1485px 268px #FFF , 522px 143px #FFF , 1448px 467px #FFF , 1594px 897px #FFF , 1351px 494px #FFF , 243px 293px #FFF , 1873px 1621px #FFF , 315px 928px #FFF , 1489px 613px #FFF , 343px 28px #FFF , 361px 566px #FFF , 1426px 1472px #FFF , 1786px 1900px #FFF , 711px 219px #FFF , 1873px 573px #FFF , 1610px 633px #FFF , 1255px 1284px #FFF , 713px 210px #FFF , 1447px 1659px #FFF , 1535px 958px #FFF , 1392px 494px #FFF , 565px 1393px #FFF , 470px 320px #FFF , 1177px 445px #FFF , 123px 1110px #FFF , 1067px 210px #FFF , 163px 1763px #FFF , 242px 1979px #FFF , 1749px 1093px #FFF , 1919px 1145px #FFF , 76px 752px #FFF , 1424px 383px #FFF , 764px 120px #FFF , 130px 515px #FFF , 103px 1471px #FFF , 865px 812px #FFF , 1682px 130px #FFF , 1812px 1948px #FFF , 1431px 965px #FFF , 148px 1350px #FFF , 1439px 41px #FFF , 529px 875px #FFF , 345px 1459px #FFF , 1040px 1455px #FFF , 1759px 1744px #FFF , 1702px 636px #FFF , 339px 1462px #FFF , 1343px 37px #FFF , 339px 611px #FFF , 237px 1394px #FFF , 1692px 1238px #FFF , 735px 287px #FFF , 809px 1490px #FFF , 1586px 1957px #FFF , 816px 1692px #FFF , 1439px 457px #FFF , 1298px 1306px #FFF , 102px 205px #FFF , 1244px 2000px #FFF , 1465px 730px #FFF , 1064px 642px #FFF , 383px 23px #FFF , 843px 180px #FFF , 396px 549px #FFF , 676px 1696px #FFF , 522px 1918px #FFF , 767px 683px #FFF , 427px 1381px #FFF , 89px 438px #FFF , 1835px 1634px #FFF , 1081px 1855px #FFF , 1753px 1410px #FFF , 1690px 298px #FFF , 1546px 234px #FFF , 431px 665px #FFF , 966px 626px #FFF , 1498px 1691px #FFF , 1262px 660px #FFF , 67px 122px #FFF , 313px 593px #FFF , 1901px 423px #FFF , 786px 726px #FFF , 1375px 1674px #FFF , 378px 648px #FFF , 680px 1549px #FFF , 176px 1305px #FFF , 712px 1351px #FFF , 1992px 1493px #FFF , 1530px 1178px #FFF , 1761px 1271px #FFF , 1527px 176px #FFF , 305px 275px #FFF , 1358px 807px #FFF , 409px 1574px #FFF , 1158px 1408px #FFF , 828px 1950px #FFF , 736px 1947px #FFF , 1149px 980px #FFF , 925px 1714px #FFF , 1475px 831px #FFF , 1605px 1244px #FFF , 216px 1804px #FFF , 34px 682px #FFF , 278px 1386px #FFF , 748px 582px #FFF , 1346px 1525px #FFF , 1948px 1906px #FFF , 1188px 224px #FFF , 1043px 844px #FFF , 1192px 359px #FFF , 565px 274px #FFF , 1140px 1522px #FFF , 645px 1036px #FFF , 1262px 138px #FFF , 1822px 1861px #FFF , 1629px 1103px #FFF , 909px 1311px #FFF , 507px 1024px #FFF , 1279px 1979px #FFF , 109px 1963px #FFF , 561px 1958px #FFF , 98px 1917px #FFF , 1713px 1437px #FFF , 1156px 1126px #FFF , 755px 1594px #FFF , 1717px 935px #FFF , 910px 795px #FFF , 1130px 1478px #FFF , 193px 1212px #FFF , 94px 1601px #FFF , 1069px 823px #FFF , 1407px 1456px #FFF , 1384px 1872px #FFF , 597px 539px #FFF , 1823px 190px #FFF , 845px 915px #FFF , 961px 467px #FFF , 1606px 1119px #FFF , 1535px 887px #FFF , 1413px 67px #FFF , 268px 827px #FFF , 1082px 1332px #FFF , 1139px 1064px #FFF , 1005px 172px #FFF , 1294px 862px #FFF , 629px 773px #FFF , 1236px 1629px #FFF , 338px 1033px #FFF , 858px 1383px #FFF , 1029px 946px #FFF , 500px 1456px #FFF , 1152px 1014px #FFF , 1465px 990px #FFF , 240px 759px #FFF , 1932px 1249px #FFF , 770px 360px #FFF , 252px 1991px #FFF , 1458px 506px #FFF , 652px 1669px #FFF , 626px 1028px #FFF , 101px 1828px #FFF , 1233px 110px #FFF , 360px 1608px #FFF , 309px 705px #FFF , 1722px 1735px #FFF , 828px 1328px #FFF , 1847px 112px #FFF , 1205px 877px #FFF , 1406px 1819px #FFF , 896px 319px #FFF , 1393px 321px #FFF , 341px 584px #FFF , 600px 559px #FFF , 730px 930px #FFF , 1901px 1025px #FFF , 82px 1771px #FFF , 1846px 1617px #FFF , 727px 1570px #FFF , 753px 1702px #FFF , 1591px 1826px #FFF , 776px 150px #FFF , 852px 470px #FFF , 204px 1358px #FFF , 208px 1455px #FFF , 1127px 932px #FFF , 871px 38px #FFF , 1582px 1061px #FFF , 316px 1801px #FFF , 334px 1778px #FFF , 1241px 1959px #FFF , 183px 1736px #FFF , 1434px 1026px #FFF , 866px 1921px #FFF , 785px 1049px #FFF , 826px 1798px #FFF , 340px 1561px #FFF , 1633px 797px #FFF , 1322px 461px #FFF , 1601px 1659px #FFF , 867px 1429px #FFF , 1348px 57px #FFF , 252px 978px #FFF , 209px 1048px #FFF , 217px 9px #FFF , 1025px 1083px #FFF , 330px 79px #FFF , 957px 1207px #FFF , 664px 2px #FFF , 1771px 1939px #FFF , 15px 709px #FFF , 1203px 1641px #FFF , 1581px 1640px #FFF , 1851px 1448px #FFF , 1899px 733px #FFF , 191px 184px #FFF , 126px 791px #FFF , 1154px 1038px #FFF , 226px 1978px #FFF , 1474px 1162px #FFF , 1002px 639px #FFF , 1997px 1657px #FFF , 81px 380px #FFF , 1312px 1212px #FFF , 1359px 1575px #FFF , 1291px 712px #FFF , 333px 1957px #FFF , 1430px 850px #FFF , 1941px 307px #FFF , 530px 623px #FFF , 720px 1486px #FFF , 1067px 1029px #FFF , 1942px 1077px #FFF , 252px 1962px #FFF , 1510px 1485px #FFF , 749px 908px #FFF , 1753px 947px #FFF , 148px 1872px #FFF , 1400px 52px #FFF , 34px 1271px #FFF , 969px 486px #FFF , 1607px 1213px #FFF , 721px 898px #FFF , 1528px 1702px #FFF , 445px 1688px #FFF , 588px 112px #FFF , 1235px 249px #FFF , 997px 1642px #FFF , 514px 860px #FFF , 1935px 778px #FFF , 1387px 734px #FFF , 514px 517px #FFF , 118px 655px #FFF , 1757px 1416px #FFF , 426px 1307px #FFF , 1738px 543px #FFF , 592px 1166px #FFF , 1305px 723px #FFF , 1689px 982px #FFF , 1105px 1066px #FFF , 498px 1906px #FFF , 1793px 1894px #FFF , 614px 71px #FFF , 993px 455px #FFF , 1836px 1419px #FFF , 1822px 1985px #FFF , 1465px 854px #FFF , 918px 160px #FFF , 1775px 630px #FFF , 1842px 1627px #FFF , 1860px 1748px #FFF , 1849px 1364px #FFF , 924px 117px #FFF , 1265px 1237px #FFF , 471px 66px #FFF , 1091px 1093px #FFF , 1434px 371px #FFF , 1404px 1494px #FFF , 1683px 1401px #FFF , 960px 1084px #FFF , 763px 948px #FFF , 103px 623px #FFF , 1458px 910px #FFF , 1543px 1922px #FFF , 1211px 1670px #FFF , 1531px 641px #FFF , 1350px 1772px #FFF , 618px 410px #FFF , 340px 1580px #FFF , 647px 570px #FFF , 618px 1157px #FFF , 1683px 74px #FFF , 697px 112px #FFF , 1519px 1191px #FFF , 416px 1322px #FFF , 753px 111px #FFF , 1695px 1674px #FFF , 698px 1392px #FFF , 107px 1994px #FFF , 897px 822px #FFF , 121px 164px #FFF , 305px 1908px #FFF , 1579px 478px #FFF , 1464px 739px #FFF , 492px 61px #FFF , 1182px 474px #FFF , 885px 196px #FFF , 643px 1629px #FFF , 905px 471px #FFF , 1708px 1030px #FFF , 1566px 473px #FFF , 966px 67px #FFF , 1836px 1895px #FFF , 1115px 1558px #FFF , 438px 1777px #FFF , 1415px 943px #FFF , 1563px 1006px #FFF , 1572px 752px #FFF , 1257px 1311px #FFF , 4px 1982px #FFF , 1967px 963px #FFF , 839px 1589px #FFF , 1883px 1238px #FFF , 397px 1360px #FFF , 461px 1013px #FFF , 1390px 1071px #FFF , 1927px 1813px #FFF , 396px 840px #FFF , 540px 1949px #FFF , 74px 595px #FFF , 1343px 945px #FFF , 371px 1619px #FFF , 742px 899px #FFF , 495px 963px #FFF , 1943px 936px #FFF , 122px 289px #FFF , 1439px 1345px #FFF , 279px 312px #FFF , 1849px 1908px #FFF , 1964px 227px #FFF , 1654px 587px #FFF , 1940px 767px #FFF , 552px 900px #FFF , 1148px 778px #FFF , 53px 543px #FFF , 1039px 978px #FFF , 349px 456px #FFF , 632px 524px #FFF , 1462px 514px #FFF , 1953px 1016px #FFF , 951px 1562px #FFF , 268px 1290px #FFF , 1256px 1534px #FFF , 1072px 389px #FFF , 976px 1031px #FFF , 878px 227px #FFF , 1760px 750px #FFF , 105px 737px #FFF , 1394px 1592px #FFF , 1390px 341px #FFF , 1702px 1878px #FFF , 1505px 1723px #FFF , 949px 306px #FFF , 1916px 1763px #FFF , 1396px 1045px #FFF , 1067px 1834px #FFF , 1871px 47px #FFF , 628px 1243px #FFF , 465px 1609px #FFF , 361px 983px #FFF , 1257px 1085px #FFF , 510px 1801px #FFF , 182px 480px #FFF , 615px 225px #FFF , 1617px 1244px #FFF , 1875px 1584px #FFF , 1639px 1712px #FFF , 804px 1889px #FFF , 256px 825px #FFF , 115px 482px #FFF , 475px 617px #FFF , 1340px 1681px #FFF , 953px 970px #FFF , 958px 288px #FFF , 1339px 1379px #FFF , 1412px 654px #FFF , 581px 1989px #FFF , 429px 1114px #FFF , 1937px 1387px #FFF , 509px 318px #FFF , 779px 1139px #FFF , 1038px 1070px #FFF , 1173px 171px #FFF , 1934px 1328px #FFF , 295px 1393px #FFF , 409px 825px #FFF , 1812px 306px #FFF , 1543px 856px #FFF , 1468px 702px #FFF , 1046px 662px #FFF , 1267px 813px #FFF , 1949px 1484px #FFF , 583px 1724px #FFF , 1574px 1582px #FFF , 236px 1196px #FFF , 128px 419px #FFF , 467px 1544px #FFF , 469px 203px #FFF , 968px 2px #FFF , 1886px 1207px #FFF , 1264px 1960px #FFF , 670px 830px #FFF , 1616px 566px #FFF , 1541px 1538px #FFF , 442px 1370px #FFF , 1931px 688px #FFF , 1372px 1574px #FFF , 1904px 743px #FFF , 1994px 898px #FFF , 232px 1445px #FFF , 1227px 981px #FFF , 1441px 91px #FFF , 1329px 1819px #FFF , 1135px 1215px #FFF , 1111px 1136px #FFF , 1764px 1757px #FFF , 522px 1416px #FFF , 1958px 799px #FFF , 1771px 1627px #FFF , 1052px 1580px #FFF , 536px 483px #FFF , 965px 1132px #FFF , 1728px 691px #FFF , 1353px 503px #FFF , 1861px 517px #FFF , 1774px 855px #FFF , 395px 187px #FFF , 1315px 1902px #FFF , 300px 66px #FFF , 1542px 1968px #FFF , 1117px 1435px #FFF , 1798px 843px #FFF , 81px 964px #FFF , 1933px 841px #FFF , 423px 563px #FFF , 1586px 1353px #FFF , 804px 1722px #FFF , 1399px 574px #FFF , 1282px 796px #FFF , 798px 86px #FFF , 39px 1623px #FFF , 1778px 730px #FFF , 1314px 78px #FFF , 315px 487px #FFF , 454px 1786px #FFF , 1125px 986px #FFF , 1105px 88px #FFF , 1758px 1539px #FFF , 1062px 1316px #FFF , 1376px 691px #FFF , 354px 1078px #FFF , 144px 1203px #FFF , 394px 1919px #FFF , 183px 1731px #FFF , 1137px 1303px #FFF , 1800px 1183px #FFF , 1597px 11px #FFF , 784px 1391px #FFF , 1098px 598px #FFF , 993px 1047px #FFF , 620px 1515px #FFF , 1114px 705px #FFF , 385px 1836px #FFF , 246px 810px #FFF , 859px 1620px #FFF , 480px 938px #FFF , 300px 1243px #FFF , 1485px 724px #FFF , 390px 1176px #FFF , 648px 1141px #FFF , 229px 1530px #FFF , 991px 216px #FFF , 698px 1651px #FFF , 518px 927px #FFF , 383px 859px #FFF , 1425px 1523px #FFF , 1332px 248px #FFF , 765px 1615px #FFF , 1085px 1561px #FFF , 1557px 480px #FFF , 96px 1412px #FFF , 27px 389px #FFF , 101px 485px #FFF , 900px 236px #FFF , 1024px 484px #FFF , 245px 1973px #FFF , 407px 1128px #FFF , 1025px 125px #FFF , 143px 1849px #FFF , 591px 1321px #FFF , 1021px 826px #FFF , 125px 1507px #FFF , 1819px 878px #FFF , 486px 859px #FFF , 617px 600px #FFF , 379px 964px #FFF , 546px 1786px #FFF , 1179px 1750px #FFF , 1297px 1588px #FFF , 1897px 680px #FFF , 632px 185px #FFF , 725px 691px #FFF , 256px 862px #FFF , 1932px 1666px #FFF , 1334px 823px #FFF , 464px 781px #FFF , 1951px 1671px #FFF , 656px 53px #FFF , 1513px 670px #FFF , 827px 1106px #FFF , 1680px 284px #FFF , 1535px 820px #FFF , 1px 1599px #FFF , 1983px 583px #FFF , 944px 482px #FFF , 653px 780px #FFF , 1905px 591px #FFF , 1133px 554px #FFF , 807px 1217px #FFF , 834px 1309px #FFF , 756px 334px #FFF , 815px 791px #FFF , 1898px 930px #FFF , 343px 1972px #FFF , 1442px 1538px #FFF , 1546px 1526px #FFF , 1890px 200px #FFF , 84px 1143px #FFF , 718px 210px #FFF , 263px 1625px #FFF , 866px 67px #FFF , 1600px 1957px #FFF , 1817px 1952px #FFF , 224px 1823px #FFF , 190px 854px #FFF , 1776px 1188px #FFF , 1024px 723px #FFF , 1981px 663px #FFF , 1330px 1619px #FFF , 248px 831px #FFF , 797px 655px #FFF , 1066px 291px #FFF , 1312px 1280px #FFF , 752px 185px #FFF , 1709px 774px #FFF , 699px 594px #FFF , 488px 240px #FFF , 1167px 792px #FFF , 774px 1993px #FFF , 706px 112px #FFF , 1835px 490px #FFF , 603px 1960px #FFF , 194px 201px #FFF , 436px 1620px #FFF , 837px 626px #FFF , 1136px 910px #FFF , 230px 1552px #FFF , 1997px 1069px #FFF , 515px 781px #FFF , 1028px 141px #FFF , 628px 1551px #FFF , 796px 1114px #FFF , 1507px 1552px #FFF , 1129px 490px #FFF , 1097px 785px #FFF , 1382px 1511px #FFF , 1077px 34px #FFF , 719px 756px #FFF , 1504px 1046px #FFF , 1012px 975px #FFF , 579px 321px #FFF , 1769px 1455px #FFF , 1884px 1780px #FFF , 459px 169px #FFF , 830px 1155px #FFF , 1654px 865px #FFF , 668px 1157px #FFF , 1623px 130px #FFF , 1904px 1784px #FFF , 1590px 550px #FFF , 1666px 691px #FFF , 1336px 499px #FFF , 1789px 1005px #FFF , 1213px 9px #FFF , 330px 1914px #FFF , 800px 1374px #FFF , 1963px 771px #FFF , 1388px 1930px #FFF , 1587px 844px #FFF , 178px 160px #FFF , 1259px 942px #FFF , 1012px 559px #FFF , 1598px 191px #FFF , 1809px 1217px #FFF , 1012px 869px #FFF , 879px 923px #FFF , 797px 1152px #FFF , 458px 1636px #FFF , 1242px 155px #FFF , 1172px 1829px #FFF , 950px 1354px #FFF , 1276px 422px #FFF , 1305px 561px #FFF , 1797px 872px #FFF , 1px 531px #FFF , 43px 1135px #FFF , 511px 331px #FFF , 681px 1317px #FFF , 396px 1071px #FFF , 755px 1834px #FFF , 1928px 898px #FFF , 1420px 835px #FFF , 930px 236px #FFF , 269px 321px #FFF , 410px 727px #FFF , 1943px 1128px #FFF , 701px 971px #FFF , 1226px 1075px #FFF , 1630px 1789px #FFF , 454px 1818px #FFF , 142px 1740px #FFF;
  animation: animStar 50s linear infinite;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1871px 1388px #FFF , 206px 212px #FFF , 1661px 1559px #FFF , 1736px 1638px #FFF , 837px 382px #FFF , 1614px 834px #FFF , 741px 1923px #FFF , 565px 337px #FFF , 716px 1174px #FFF , 133px 934px #FFF , 1420px 1288px #FFF , 424px 93px #FFF , 1537px 1134px #FFF , 755px 586px #FFF , 966px 972px #FFF , 1889px 293px #FFF , 421px 1819px #FFF , 1118px 1765px #FFF , 1976px 958px #FFF , 417px 283px #FFF , 203px 1823px #FFF , 182px 1639px #FFF , 302px 797px #FFF , 1294px 1853px #FFF , 1679px 1523px #FFF , 1027px 578px #FFF , 1788px 26px #FFF , 1341px 756px #FFF , 1193px 1910px #FFF , 672px 1303px #FFF , 1065px 126px #FFF , 743px 245px #FFF , 917px 1920px #FFF , 1911px 933px #FFF , 1240px 1508px #FFF , 1258px 1798px #FFF , 645px 1331px #FFF , 633px 1946px #FFF , 1794px 482px #FFF , 1893px 261px #FFF , 224px 1119px #FFF , 951px 106px #FFF , 132px 1360px #FFF , 85px 187px #FFF , 1622px 677px #FFF , 1522px 275px #FFF , 648px 35px #FFF , 1631px 1068px #FFF , 877px 1728px #FFF , 873px 1097px #FFF , 1013px 967px #FFF , 1652px 1097px #FFF , 1684px 1988px #FFF , 1772px 762px #FFF , 179px 596px #FFF , 1288px 1439px #FFF , 1752px 119px #FFF , 329px 993px #FFF , 1820px 1384px #FFF , 1558px 1083px #FFF , 1339px 1468px #FFF , 1928px 1682px #FFF , 1458px 1157px #FFF , 1884px 218px #FFF , 1288px 1759px #FFF , 1712px 1052px #FFF , 643px 1301px #FFF , 1255px 143px #FFF , 1159px 690px #FFF , 467px 1028px #FFF , 1485px 268px #FFF , 522px 143px #FFF , 1448px 467px #FFF , 1594px 897px #FFF , 1351px 494px #FFF , 243px 293px #FFF , 1873px 1621px #FFF , 315px 928px #FFF , 1489px 613px #FFF , 343px 28px #FFF , 361px 566px #FFF , 1426px 1472px #FFF , 1786px 1900px #FFF , 711px 219px #FFF , 1873px 573px #FFF , 1610px 633px #FFF , 1255px 1284px #FFF , 713px 210px #FFF , 1447px 1659px #FFF , 1535px 958px #FFF , 1392px 494px #FFF , 565px 1393px #FFF , 470px 320px #FFF , 1177px 445px #FFF , 123px 1110px #FFF , 1067px 210px #FFF , 163px 1763px #FFF , 242px 1979px #FFF , 1749px 1093px #FFF , 1919px 1145px #FFF , 76px 752px #FFF , 1424px 383px #FFF , 764px 120px #FFF , 130px 515px #FFF , 103px 1471px #FFF , 865px 812px #FFF , 1682px 130px #FFF , 1812px 1948px #FFF , 1431px 965px #FFF , 148px 1350px #FFF , 1439px 41px #FFF , 529px 875px #FFF , 345px 1459px #FFF , 1040px 1455px #FFF , 1759px 1744px #FFF , 1702px 636px #FFF , 339px 1462px #FFF , 1343px 37px #FFF , 339px 611px #FFF , 237px 1394px #FFF , 1692px 1238px #FFF , 735px 287px #FFF , 809px 1490px #FFF , 1586px 1957px #FFF , 816px 1692px #FFF , 1439px 457px #FFF , 1298px 1306px #FFF , 102px 205px #FFF , 1244px 2000px #FFF , 1465px 730px #FFF , 1064px 642px #FFF , 383px 23px #FFF , 843px 180px #FFF , 396px 549px #FFF , 676px 1696px #FFF , 522px 1918px #FFF , 767px 683px #FFF , 427px 1381px #FFF , 89px 438px #FFF , 1835px 1634px #FFF , 1081px 1855px #FFF , 1753px 1410px #FFF , 1690px 298px #FFF , 1546px 234px #FFF , 431px 665px #FFF , 966px 626px #FFF , 1498px 1691px #FFF , 1262px 660px #FFF , 67px 122px #FFF , 313px 593px #FFF , 1901px 423px #FFF , 786px 726px #FFF , 1375px 1674px #FFF , 378px 648px #FFF , 680px 1549px #FFF , 176px 1305px #FFF , 712px 1351px #FFF , 1992px 1493px #FFF , 1530px 1178px #FFF , 1761px 1271px #FFF , 1527px 176px #FFF , 305px 275px #FFF , 1358px 807px #FFF , 409px 1574px #FFF , 1158px 1408px #FFF , 828px 1950px #FFF , 736px 1947px #FFF , 1149px 980px #FFF , 925px 1714px #FFF , 1475px 831px #FFF , 1605px 1244px #FFF , 216px 1804px #FFF , 34px 682px #FFF , 278px 1386px #FFF , 748px 582px #FFF , 1346px 1525px #FFF , 1948px 1906px #FFF , 1188px 224px #FFF , 1043px 844px #FFF , 1192px 359px #FFF , 565px 274px #FFF , 1140px 1522px #FFF , 645px 1036px #FFF , 1262px 138px #FFF , 1822px 1861px #FFF , 1629px 1103px #FFF , 909px 1311px #FFF , 507px 1024px #FFF , 1279px 1979px #FFF , 109px 1963px #FFF , 561px 1958px #FFF , 98px 1917px #FFF , 1713px 1437px #FFF , 1156px 1126px #FFF , 755px 1594px #FFF , 1717px 935px #FFF , 910px 795px #FFF , 1130px 1478px #FFF , 193px 1212px #FFF , 94px 1601px #FFF , 1069px 823px #FFF , 1407px 1456px #FFF , 1384px 1872px #FFF , 597px 539px #FFF , 1823px 190px #FFF , 845px 915px #FFF , 961px 467px #FFF , 1606px 1119px #FFF , 1535px 887px #FFF , 1413px 67px #FFF , 268px 827px #FFF , 1082px 1332px #FFF , 1139px 1064px #FFF , 1005px 172px #FFF , 1294px 862px #FFF , 629px 773px #FFF , 1236px 1629px #FFF , 338px 1033px #FFF , 858px 1383px #FFF , 1029px 946px #FFF , 500px 1456px #FFF , 1152px 1014px #FFF , 1465px 990px #FFF , 240px 759px #FFF , 1932px 1249px #FFF , 770px 360px #FFF , 252px 1991px #FFF , 1458px 506px #FFF , 652px 1669px #FFF , 626px 1028px #FFF , 101px 1828px #FFF , 1233px 110px #FFF , 360px 1608px #FFF , 309px 705px #FFF , 1722px 1735px #FFF , 828px 1328px #FFF , 1847px 112px #FFF , 1205px 877px #FFF , 1406px 1819px #FFF , 896px 319px #FFF , 1393px 321px #FFF , 341px 584px #FFF , 600px 559px #FFF , 730px 930px #FFF , 1901px 1025px #FFF , 82px 1771px #FFF , 1846px 1617px #FFF , 727px 1570px #FFF , 753px 1702px #FFF , 1591px 1826px #FFF , 776px 150px #FFF , 852px 470px #FFF , 204px 1358px #FFF , 208px 1455px #FFF , 1127px 932px #FFF , 871px 38px #FFF , 1582px 1061px #FFF , 316px 1801px #FFF , 334px 1778px #FFF , 1241px 1959px #FFF , 183px 1736px #FFF , 1434px 1026px #FFF , 866px 1921px #FFF , 785px 1049px #FFF , 826px 1798px #FFF , 340px 1561px #FFF , 1633px 797px #FFF , 1322px 461px #FFF , 1601px 1659px #FFF , 867px 1429px #FFF , 1348px 57px #FFF , 252px 978px #FFF , 209px 1048px #FFF , 217px 9px #FFF , 1025px 1083px #FFF , 330px 79px #FFF , 957px 1207px #FFF , 664px 2px #FFF , 1771px 1939px #FFF , 15px 709px #FFF , 1203px 1641px #FFF , 1581px 1640px #FFF , 1851px 1448px #FFF , 1899px 733px #FFF , 191px 184px #FFF , 126px 791px #FFF , 1154px 1038px #FFF , 226px 1978px #FFF , 1474px 1162px #FFF , 1002px 639px #FFF , 1997px 1657px #FFF , 81px 380px #FFF , 1312px 1212px #FFF , 1359px 1575px #FFF , 1291px 712px #FFF , 333px 1957px #FFF , 1430px 850px #FFF , 1941px 307px #FFF , 530px 623px #FFF , 720px 1486px #FFF , 1067px 1029px #FFF , 1942px 1077px #FFF , 252px 1962px #FFF , 1510px 1485px #FFF , 749px 908px #FFF , 1753px 947px #FFF , 148px 1872px #FFF , 1400px 52px #FFF , 34px 1271px #FFF , 969px 486px #FFF , 1607px 1213px #FFF , 721px 898px #FFF , 1528px 1702px #FFF , 445px 1688px #FFF , 588px 112px #FFF , 1235px 249px #FFF , 997px 1642px #FFF , 514px 860px #FFF , 1935px 778px #FFF , 1387px 734px #FFF , 514px 517px #FFF , 118px 655px #FFF , 1757px 1416px #FFF , 426px 1307px #FFF , 1738px 543px #FFF , 592px 1166px #FFF , 1305px 723px #FFF , 1689px 982px #FFF , 1105px 1066px #FFF , 498px 1906px #FFF , 1793px 1894px #FFF , 614px 71px #FFF , 993px 455px #FFF , 1836px 1419px #FFF , 1822px 1985px #FFF , 1465px 854px #FFF , 918px 160px #FFF , 1775px 630px #FFF , 1842px 1627px #FFF , 1860px 1748px #FFF , 1849px 1364px #FFF , 924px 117px #FFF , 1265px 1237px #FFF , 471px 66px #FFF , 1091px 1093px #FFF , 1434px 371px #FFF , 1404px 1494px #FFF , 1683px 1401px #FFF , 960px 1084px #FFF , 763px 948px #FFF , 103px 623px #FFF , 1458px 910px #FFF , 1543px 1922px #FFF , 1211px 1670px #FFF , 1531px 641px #FFF , 1350px 1772px #FFF , 618px 410px #FFF , 340px 1580px #FFF , 647px 570px #FFF , 618px 1157px #FFF , 1683px 74px #FFF , 697px 112px #FFF , 1519px 1191px #FFF , 416px 1322px #FFF , 753px 111px #FFF , 1695px 1674px #FFF , 698px 1392px #FFF , 107px 1994px #FFF , 897px 822px #FFF , 121px 164px #FFF , 305px 1908px #FFF , 1579px 478px #FFF , 1464px 739px #FFF , 492px 61px #FFF , 1182px 474px #FFF , 885px 196px #FFF , 643px 1629px #FFF , 905px 471px #FFF , 1708px 1030px #FFF , 1566px 473px #FFF , 966px 67px #FFF , 1836px 1895px #FFF , 1115px 1558px #FFF , 438px 1777px #FFF , 1415px 943px #FFF , 1563px 1006px #FFF , 1572px 752px #FFF , 1257px 1311px #FFF , 4px 1982px #FFF , 1967px 963px #FFF , 839px 1589px #FFF , 1883px 1238px #FFF , 397px 1360px #FFF , 461px 1013px #FFF , 1390px 1071px #FFF , 1927px 1813px #FFF , 396px 840px #FFF , 540px 1949px #FFF , 74px 595px #FFF , 1343px 945px #FFF , 371px 1619px #FFF , 742px 899px #FFF , 495px 963px #FFF , 1943px 936px #FFF , 122px 289px #FFF , 1439px 1345px #FFF , 279px 312px #FFF , 1849px 1908px #FFF , 1964px 227px #FFF , 1654px 587px #FFF , 1940px 767px #FFF , 552px 900px #FFF , 1148px 778px #FFF , 53px 543px #FFF , 1039px 978px #FFF , 349px 456px #FFF , 632px 524px #FFF , 1462px 514px #FFF , 1953px 1016px #FFF , 951px 1562px #FFF , 268px 1290px #FFF , 1256px 1534px #FFF , 1072px 389px #FFF , 976px 1031px #FFF , 878px 227px #FFF , 1760px 750px #FFF , 105px 737px #FFF , 1394px 1592px #FFF , 1390px 341px #FFF , 1702px 1878px #FFF , 1505px 1723px #FFF , 949px 306px #FFF , 1916px 1763px #FFF , 1396px 1045px #FFF , 1067px 1834px #FFF , 1871px 47px #FFF , 628px 1243px #FFF , 465px 1609px #FFF , 361px 983px #FFF , 1257px 1085px #FFF , 510px 1801px #FFF , 182px 480px #FFF , 615px 225px #FFF , 1617px 1244px #FFF , 1875px 1584px #FFF , 1639px 1712px #FFF , 804px 1889px #FFF , 256px 825px #FFF , 115px 482px #FFF , 475px 617px #FFF , 1340px 1681px #FFF , 953px 970px #FFF , 958px 288px #FFF , 1339px 1379px #FFF , 1412px 654px #FFF , 581px 1989px #FFF , 429px 1114px #FFF , 1937px 1387px #FFF , 509px 318px #FFF , 779px 1139px #FFF , 1038px 1070px #FFF , 1173px 171px #FFF , 1934px 1328px #FFF , 295px 1393px #FFF , 409px 825px #FFF , 1812px 306px #FFF , 1543px 856px #FFF , 1468px 702px #FFF , 1046px 662px #FFF , 1267px 813px #FFF , 1949px 1484px #FFF , 583px 1724px #FFF , 1574px 1582px #FFF , 236px 1196px #FFF , 128px 419px #FFF , 467px 1544px #FFF , 469px 203px #FFF , 968px 2px #FFF , 1886px 1207px #FFF , 1264px 1960px #FFF , 670px 830px #FFF , 1616px 566px #FFF , 1541px 1538px #FFF , 442px 1370px #FFF , 1931px 688px #FFF , 1372px 1574px #FFF , 1904px 743px #FFF , 1994px 898px #FFF , 232px 1445px #FFF , 1227px 981px #FFF , 1441px 91px #FFF , 1329px 1819px #FFF , 1135px 1215px #FFF , 1111px 1136px #FFF , 1764px 1757px #FFF , 522px 1416px #FFF , 1958px 799px #FFF , 1771px 1627px #FFF , 1052px 1580px #FFF , 536px 483px #FFF , 965px 1132px #FFF , 1728px 691px #FFF , 1353px 503px #FFF , 1861px 517px #FFF , 1774px 855px #FFF , 395px 187px #FFF , 1315px 1902px #FFF , 300px 66px #FFF , 1542px 1968px #FFF , 1117px 1435px #FFF , 1798px 843px #FFF , 81px 964px #FFF , 1933px 841px #FFF , 423px 563px #FFF , 1586px 1353px #FFF , 804px 1722px #FFF , 1399px 574px #FFF , 1282px 796px #FFF , 798px 86px #FFF , 39px 1623px #FFF , 1778px 730px #FFF , 1314px 78px #FFF , 315px 487px #FFF , 454px 1786px #FFF , 1125px 986px #FFF , 1105px 88px #FFF , 1758px 1539px #FFF , 1062px 1316px #FFF , 1376px 691px #FFF , 354px 1078px #FFF , 144px 1203px #FFF , 394px 1919px #FFF , 183px 1731px #FFF , 1137px 1303px #FFF , 1800px 1183px #FFF , 1597px 11px #FFF , 784px 1391px #FFF , 1098px 598px #FFF , 993px 1047px #FFF , 620px 1515px #FFF , 1114px 705px #FFF , 385px 1836px #FFF , 246px 810px #FFF , 859px 1620px #FFF , 480px 938px #FFF , 300px 1243px #FFF , 1485px 724px #FFF , 390px 1176px #FFF , 648px 1141px #FFF , 229px 1530px #FFF , 991px 216px #FFF , 698px 1651px #FFF , 518px 927px #FFF , 383px 859px #FFF , 1425px 1523px #FFF , 1332px 248px #FFF , 765px 1615px #FFF , 1085px 1561px #FFF , 1557px 480px #FFF , 96px 1412px #FFF , 27px 389px #FFF , 101px 485px #FFF , 900px 236px #FFF , 1024px 484px #FFF , 245px 1973px #FFF , 407px 1128px #FFF , 1025px 125px #FFF , 143px 1849px #FFF , 591px 1321px #FFF , 1021px 826px #FFF , 125px 1507px #FFF , 1819px 878px #FFF , 486px 859px #FFF , 617px 600px #FFF , 379px 964px #FFF , 546px 1786px #FFF , 1179px 1750px #FFF , 1297px 1588px #FFF , 1897px 680px #FFF , 632px 185px #FFF , 725px 691px #FFF , 256px 862px #FFF , 1932px 1666px #FFF , 1334px 823px #FFF , 464px 781px #FFF , 1951px 1671px #FFF , 656px 53px #FFF , 1513px 670px #FFF , 827px 1106px #FFF , 1680px 284px #FFF , 1535px 820px #FFF , 1px 1599px #FFF , 1983px 583px #FFF , 944px 482px #FFF , 653px 780px #FFF , 1905px 591px #FFF , 1133px 554px #FFF , 807px 1217px #FFF , 834px 1309px #FFF , 756px 334px #FFF , 815px 791px #FFF , 1898px 930px #FFF , 343px 1972px #FFF , 1442px 1538px #FFF , 1546px 1526px #FFF , 1890px 200px #FFF , 84px 1143px #FFF , 718px 210px #FFF , 263px 1625px #FFF , 866px 67px #FFF , 1600px 1957px #FFF , 1817px 1952px #FFF , 224px 1823px #FFF , 190px 854px #FFF , 1776px 1188px #FFF , 1024px 723px #FFF , 1981px 663px #FFF , 1330px 1619px #FFF , 248px 831px #FFF , 797px 655px #FFF , 1066px 291px #FFF , 1312px 1280px #FFF , 752px 185px #FFF , 1709px 774px #FFF , 699px 594px #FFF , 488px 240px #FFF , 1167px 792px #FFF , 774px 1993px #FFF , 706px 112px #FFF , 1835px 490px #FFF , 603px 1960px #FFF , 194px 201px #FFF , 436px 1620px #FFF , 837px 626px #FFF , 1136px 910px #FFF , 230px 1552px #FFF , 1997px 1069px #FFF , 515px 781px #FFF , 1028px 141px #FFF , 628px 1551px #FFF , 796px 1114px #FFF , 1507px 1552px #FFF , 1129px 490px #FFF , 1097px 785px #FFF , 1382px 1511px #FFF , 1077px 34px #FFF , 719px 756px #FFF , 1504px 1046px #FFF , 1012px 975px #FFF , 579px 321px #FFF , 1769px 1455px #FFF , 1884px 1780px #FFF , 459px 169px #FFF , 830px 1155px #FFF , 1654px 865px #FFF , 668px 1157px #FFF , 1623px 130px #FFF , 1904px 1784px #FFF , 1590px 550px #FFF , 1666px 691px #FFF , 1336px 499px #FFF , 1789px 1005px #FFF , 1213px 9px #FFF , 330px 1914px #FFF , 800px 1374px #FFF , 1963px 771px #FFF , 1388px 1930px #FFF , 1587px 844px #FFF , 178px 160px #FFF , 1259px 942px #FFF , 1012px 559px #FFF , 1598px 191px #FFF , 1809px 1217px #FFF , 1012px 869px #FFF , 879px 923px #FFF , 797px 1152px #FFF , 458px 1636px #FFF , 1242px 155px #FFF , 1172px 1829px #FFF , 950px 1354px #FFF , 1276px 422px #FFF , 1305px 561px #FFF , 1797px 872px #FFF , 1px 531px #FFF , 43px 1135px #FFF , 511px 331px #FFF , 681px 1317px #FFF , 396px 1071px #FFF , 755px 1834px #FFF , 1928px 898px #FFF , 1420px 835px #FFF , 930px 236px #FFF , 269px 321px #FFF , 410px 727px #FFF , 1943px 1128px #FFF , 701px 971px #FFF , 1226px 1075px #FFF , 1630px 1789px #FFF , 454px 1818px #FFF , 142px 1740px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 607px 189px #FFF , 1617px 1864px #FFF , 604px 1167px #FFF , 209px 512px #FFF , 1647px 71px #FFF , 1860px 1951px #FFF , 88px 297px #FFF , 1618px 24px #FFF , 976px 1432px #FFF , 1516px 520px #FFF , 1407px 1186px #FFF , 1226px 655px #FFF , 1174px 1528px #FFF , 1874px 1194px #FFF , 1164px 1762px #FFF , 1714px 805px #FFF , 32px 1640px #FFF , 1062px 122px #FFF , 1605px 1250px #FFF , 40px 1592px #FFF , 549px 1928px #FFF , 1374px 18px #FFF , 1323px 1531px #FFF , 603px 1294px #FFF , 1708px 1324px #FFF , 459px 371px #FFF , 561px 99px #FFF , 1932px 1005px #FFF , 1376px 1352px #FFF , 167px 215px #FFF , 984px 1367px #FFF , 817px 1853px #FFF , 1522px 1324px #FFF , 910px 1153px #FFF , 1789px 297px #FFF , 1505px 1907px #FFF , 66px 292px #FFF , 129px 1033px #FFF , 765px 414px #FFF , 1857px 1395px #FFF , 1003px 724px #FFF , 1703px 472px #FFF , 1272px 729px #FFF , 157px 1973px #FFF , 946px 1687px #FFF , 596px 931px #FFF , 870px 1027px #FFF , 922px 738px #FFF , 498px 1953px #FFF , 1047px 905px #FFF , 1122px 1713px #FFF , 864px 534px #FFF , 1032px 1481px #FFF , 6px 1365px #FFF , 750px 1190px #FFF , 753px 1805px #FFF , 578px 1749px #FFF , 961px 190px #FFF , 1287px 1166px #FFF , 1326px 1847px #FFF , 910px 471px #FFF , 1380px 187px #FFF , 1480px 1044px #FFF , 635px 1940px #FFF , 1630px 338px #FFF , 263px 1604px #FFF , 1979px 1639px #FFF , 173px 1741px #FFF , 661px 11px #FFF , 929px 1510px #FFF , 772px 1791px #FFF , 1513px 1683px #FFF , 1163px 12px #FFF , 1010px 1338px #FFF , 1004px 1950px #FFF , 188px 33px #FFF , 820px 107px #FFF , 795px 1299px #FFF , 924px 76px #FFF , 1150px 1127px #FFF , 1274px 1321px #FFF , 982px 1128px #FFF , 756px 734px #FFF , 800px 988px #FFF , 1359px 1230px #FFF , 1443px 877px #FFF , 939px 1095px #FFF , 1438px 583px #FFF , 227px 919px #FFF , 1997px 1824px #FFF , 352px 826px #FFF , 788px 333px #FFF , 605px 1782px #FFF , 810px 444px #FFF , 197px 1364px #FFF , 228px 1460px #FFF , 808px 1652px #FFF , 821px 1016px #FFF , 161px 1563px #FFF , 890px 566px #FFF , 184px 122px #FFF , 197px 1501px #FFF , 1132px 1535px #FFF , 943px 1540px #FFF , 921px 1881px #FFF , 1130px 520px #FFF , 134px 955px #FFF , 1427px 990px #FFF , 1018px 279px #FFF , 1656px 1637px #FFF , 681px 734px #FFF , 1369px 1953px #FFF , 932px 1770px #FFF , 1171px 318px #FFF , 1406px 1377px #FFF , 574px 1701px #FFF , 1886px 1982px #FFF , 686px 613px #FFF , 1790px 321px #FFF , 1384px 1420px #FFF , 1703px 397px #FFF , 1713px 192px #FFF , 1133px 561px #FFF , 1004px 1972px #FFF , 1018px 1201px #FFF , 968px 630px #FFF , 1431px 1669px #FFF , 922px 742px #FFF , 1472px 1245px #FFF , 1339px 1229px #FFF , 1140px 269px #FFF , 1604px 141px #FFF , 410px 984px #FFF , 1098px 410px #FFF , 542px 1988px #FFF , 1800px 428px #FFF , 301px 931px #FFF , 313px 840px #FFF , 1709px 1091px #FFF , 1666px 444px #FFF , 105px 549px #FFF , 1214px 795px #FFF , 334px 1173px #FFF , 882px 298px #FFF , 856px 1915px #FFF , 499px 638px #FFF , 1743px 14px #FFF , 1038px 1748px #FFF , 1839px 1126px #FFF , 1501px 1153px #FFF , 284px 1780px #FFF , 1351px 1114px #FFF , 625px 1935px #FFF , 330px 1212px #FFF , 1989px 1563px #FFF , 1523px 5px #FFF , 212px 1268px #FFF , 1426px 1459px #FFF , 743px 845px #FFF , 1095px 1976px #FFF , 1744px 4px #FFF , 1835px 563px #FFF , 1999px 267px #FFF , 415px 1035px #FFF , 161px 932px #FFF , 1006px 1156px #FFF , 1460px 1526px #FFF , 1111px 1624px #FFF , 1474px 704px #FFF , 1050px 1602px #FFF , 1163px 1505px #FFF , 1828px 1860px #FFF , 1562px 1223px #FFF , 120px 1101px #FFF , 132px 1464px #FFF , 925px 1663px #FFF , 1349px 606px #FFF , 917px 34px #FFF , 134px 894px #FFF , 835px 905px #FFF , 785px 1037px #FFF , 1384px 1105px #FFF , 546px 216px #FFF , 52px 1578px #FFF , 1561px 1365px #FFF , 1151px 1197px #FFF , 550px 1833px #FFF , 793px 60px #FFF , 138px 1642px #FFF , 343px 327px #FFF , 1132px 1369px #FFF , 486px 1495px #FFF , 154px 519px #FFF , 774px 1551px #FFF , 581px 1194px #FFF , 1834px 751px #FFF , 559px 888px #FFF , 1389px 988px #FFF , 1316px 568px #FFF , 1297px 545px #FFF;
  animation: animStar 100s linear infinite;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 607px 189px #FFF , 1617px 1864px #FFF , 604px 1167px #FFF , 209px 512px #FFF , 1647px 71px #FFF , 1860px 1951px #FFF , 88px 297px #FFF , 1618px 24px #FFF , 976px 1432px #FFF , 1516px 520px #FFF , 1407px 1186px #FFF , 1226px 655px #FFF , 1174px 1528px #FFF , 1874px 1194px #FFF , 1164px 1762px #FFF , 1714px 805px #FFF , 32px 1640px #FFF , 1062px 122px #FFF , 1605px 1250px #FFF , 40px 1592px #FFF , 549px 1928px #FFF , 1374px 18px #FFF , 1323px 1531px #FFF , 603px 1294px #FFF , 1708px 1324px #FFF , 459px 371px #FFF , 561px 99px #FFF , 1932px 1005px #FFF , 1376px 1352px #FFF , 167px 215px #FFF , 984px 1367px #FFF , 817px 1853px #FFF , 1522px 1324px #FFF , 910px 1153px #FFF , 1789px 297px #FFF , 1505px 1907px #FFF , 66px 292px #FFF , 129px 1033px #FFF , 765px 414px #FFF , 1857px 1395px #FFF , 1003px 724px #FFF , 1703px 472px #FFF , 1272px 729px #FFF , 157px 1973px #FFF , 946px 1687px #FFF , 596px 931px #FFF , 870px 1027px #FFF , 922px 738px #FFF , 498px 1953px #FFF , 1047px 905px #FFF , 1122px 1713px #FFF , 864px 534px #FFF , 1032px 1481px #FFF , 6px 1365px #FFF , 750px 1190px #FFF , 753px 1805px #FFF , 578px 1749px #FFF , 961px 190px #FFF , 1287px 1166px #FFF , 1326px 1847px #FFF , 910px 471px #FFF , 1380px 187px #FFF , 1480px 1044px #FFF , 635px 1940px #FFF , 1630px 338px #FFF , 263px 1604px #FFF , 1979px 1639px #FFF , 173px 1741px #FFF , 661px 11px #FFF , 929px 1510px #FFF , 772px 1791px #FFF , 1513px 1683px #FFF , 1163px 12px #FFF , 1010px 1338px #FFF , 1004px 1950px #FFF , 188px 33px #FFF , 820px 107px #FFF , 795px 1299px #FFF , 924px 76px #FFF , 1150px 1127px #FFF , 1274px 1321px #FFF , 982px 1128px #FFF , 756px 734px #FFF , 800px 988px #FFF , 1359px 1230px #FFF , 1443px 877px #FFF , 939px 1095px #FFF , 1438px 583px #FFF , 227px 919px #FFF , 1997px 1824px #FFF , 352px 826px #FFF , 788px 333px #FFF , 605px 1782px #FFF , 810px 444px #FFF , 197px 1364px #FFF , 228px 1460px #FFF , 808px 1652px #FFF , 821px 1016px #FFF , 161px 1563px #FFF , 890px 566px #FFF , 184px 122px #FFF , 197px 1501px #FFF , 1132px 1535px #FFF , 943px 1540px #FFF , 921px 1881px #FFF , 1130px 520px #FFF , 134px 955px #FFF , 1427px 990px #FFF , 1018px 279px #FFF , 1656px 1637px #FFF , 681px 734px #FFF , 1369px 1953px #FFF , 932px 1770px #FFF , 1171px 318px #FFF , 1406px 1377px #FFF , 574px 1701px #FFF , 1886px 1982px #FFF , 686px 613px #FFF , 1790px 321px #FFF , 1384px 1420px #FFF , 1703px 397px #FFF , 1713px 192px #FFF , 1133px 561px #FFF , 1004px 1972px #FFF , 1018px 1201px #FFF , 968px 630px #FFF , 1431px 1669px #FFF , 922px 742px #FFF , 1472px 1245px #FFF , 1339px 1229px #FFF , 1140px 269px #FFF , 1604px 141px #FFF , 410px 984px #FFF , 1098px 410px #FFF , 542px 1988px #FFF , 1800px 428px #FFF , 301px 931px #FFF , 313px 840px #FFF , 1709px 1091px #FFF , 1666px 444px #FFF , 105px 549px #FFF , 1214px 795px #FFF , 334px 1173px #FFF , 882px 298px #FFF , 856px 1915px #FFF , 499px 638px #FFF , 1743px 14px #FFF , 1038px 1748px #FFF , 1839px 1126px #FFF , 1501px 1153px #FFF , 284px 1780px #FFF , 1351px 1114px #FFF , 625px 1935px #FFF , 330px 1212px #FFF , 1989px 1563px #FFF , 1523px 5px #FFF , 212px 1268px #FFF , 1426px 1459px #FFF , 743px 845px #FFF , 1095px 1976px #FFF , 1744px 4px #FFF , 1835px 563px #FFF , 1999px 267px #FFF , 415px 1035px #FFF , 161px 932px #FFF , 1006px 1156px #FFF , 1460px 1526px #FFF , 1111px 1624px #FFF , 1474px 704px #FFF , 1050px 1602px #FFF , 1163px 1505px #FFF , 1828px 1860px #FFF , 1562px 1223px #FFF , 120px 1101px #FFF , 132px 1464px #FFF , 925px 1663px #FFF , 1349px 606px #FFF , 917px 34px #FFF , 134px 894px #FFF , 835px 905px #FFF , 785px 1037px #FFF , 1384px 1105px #FFF , 546px 216px #FFF , 52px 1578px #FFF , 1561px 1365px #FFF , 1151px 1197px #FFF , 550px 1833px #FFF , 793px 60px #FFF , 138px 1642px #FFF , 343px 327px #FFF , 1132px 1369px #FFF , 486px 1495px #FFF , 154px 519px #FFF , 774px 1551px #FFF , 581px 1194px #FFF , 1834px 751px #FFF , 559px 888px #FFF , 1389px 988px #FFF , 1316px 568px #FFF , 1297px 545px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1489px 1147px #FFF , 363px 1984px #FFF , 395px 106px #FFF , 1862px 276px #FFF , 756px 1020px #FFF , 1101px 308px #FFF , 958px 193px #FFF , 1021px 615px #FFF , 791px 1144px #FFF , 538px 692px #FFF , 388px 1307px #FFF , 193px 317px #FFF , 8px 595px #FFF , 251px 1337px #FFF , 1342px 169px #FFF , 696px 564px #FFF , 1877px 1180px #FFF , 27px 367px #FFF , 163px 437px #FFF , 1490px 1813px #FFF , 477px 496px #FFF , 1291px 552px #FFF , 1040px 479px #FFF , 1393px 16px #FFF , 1402px 1324px #FFF , 129px 769px #FFF , 1759px 811px #FFF , 597px 282px #FFF , 391px 306px #FFF , 895px 873px #FFF , 432px 1761px #FFF , 1279px 43px #FFF , 1685px 1175px #FFF , 105px 836px #FFF , 625px 717px #FFF , 1709px 1199px #FFF , 21px 1152px #FFF , 1689px 1269px #FFF , 1999px 1450px #FFF , 1369px 875px #FFF , 103px 315px #FFF , 89px 76px #FFF , 1763px 455px #FFF , 296px 1522px #FFF , 1111px 302px #FFF , 404px 179px #FFF , 1736px 259px #FFF , 194px 1530px #FFF , 477px 327px #FFF , 1168px 1599px #FFF , 1492px 875px #FFF , 1924px 258px #FFF , 690px 890px #FFF , 1620px 1164px #FFF , 443px 926px #FFF , 1499px 1421px #FFF , 1386px 136px #FFF , 1130px 912px #FFF , 883px 906px #FFF , 594px 192px #FFF , 1001px 1637px #FFF , 1651px 479px #FFF , 922px 1547px #FFF , 1765px 39px #FFF , 1479px 397px #FFF , 1963px 1776px #FFF , 1938px 240px #FFF , 1801px 1714px #FFF , 525px 895px #FFF , 1945px 1169px #FFF , 683px 807px #FFF , 285px 1146px #FFF , 1308px 47px #FFF , 781px 1537px #FFF , 1338px 1066px #FFF , 1567px 553px #FFF , 750px 1099px #FFF , 918px 1606px #FFF , 1533px 1715px #FFF , 1477px 205px #FFF , 252px 861px #FFF , 1757px 694px #FFF , 397px 1460px #FFF , 485px 1657px #FFF , 862px 397px #FFF , 1198px 1550px #FFF , 391px 1768px #FFF , 1095px 1972px #FFF , 1788px 193px #FFF , 1998px 488px #FFF , 469px 84px #FFF , 475px 1611px #FFF , 934px 1955px #FFF , 1250px 64px #FFF , 1207px 1056px #FFF , 1219px 1351px #FFF , 351px 1059px #FFF , 59px 1930px #FFF , 1408px 1404px #FFF , 1593px 124px #FFF;
  animation: animStar 150s linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1489px 1147px #FFF , 363px 1984px #FFF , 395px 106px #FFF , 1862px 276px #FFF , 756px 1020px #FFF , 1101px 308px #FFF , 958px 193px #FFF , 1021px 615px #FFF , 791px 1144px #FFF , 538px 692px #FFF , 388px 1307px #FFF , 193px 317px #FFF , 8px 595px #FFF , 251px 1337px #FFF , 1342px 169px #FFF , 696px 564px #FFF , 1877px 1180px #FFF , 27px 367px #FFF , 163px 437px #FFF , 1490px 1813px #FFF , 477px 496px #FFF , 1291px 552px #FFF , 1040px 479px #FFF , 1393px 16px #FFF , 1402px 1324px #FFF , 129px 769px #FFF , 1759px 811px #FFF , 597px 282px #FFF , 391px 306px #FFF , 895px 873px #FFF , 432px 1761px #FFF , 1279px 43px #FFF , 1685px 1175px #FFF , 105px 836px #FFF , 625px 717px #FFF , 1709px 1199px #FFF , 21px 1152px #FFF , 1689px 1269px #FFF , 1999px 1450px #FFF , 1369px 875px #FFF , 103px 315px #FFF , 89px 76px #FFF , 1763px 455px #FFF , 296px 1522px #FFF , 1111px 302px #FFF , 404px 179px #FFF , 1736px 259px #FFF , 194px 1530px #FFF , 477px 327px #FFF , 1168px 1599px #FFF , 1492px 875px #FFF , 1924px 258px #FFF , 690px 890px #FFF , 1620px 1164px #FFF , 443px 926px #FFF , 1499px 1421px #FFF , 1386px 136px #FFF , 1130px 912px #FFF , 883px 906px #FFF , 594px 192px #FFF , 1001px 1637px #FFF , 1651px 479px #FFF , 922px 1547px #FFF , 1765px 39px #FFF , 1479px 397px #FFF , 1963px 1776px #FFF , 1938px 240px #FFF , 1801px 1714px #FFF , 525px 895px #FFF , 1945px 1169px #FFF , 683px 807px #FFF , 285px 1146px #FFF , 1308px 47px #FFF , 781px 1537px #FFF , 1338px 1066px #FFF , 1567px 553px #FFF , 750px 1099px #FFF , 918px 1606px #FFF , 1533px 1715px #FFF , 1477px 205px #FFF , 252px 861px #FFF , 1757px 694px #FFF , 397px 1460px #FFF , 485px 1657px #FFF , 862px 397px #FFF , 1198px 1550px #FFF , 391px 1768px #FFF , 1095px 1972px #FFF , 1788px 193px #FFF , 1998px 488px #FFF , 469px 84px #FFF , 475px 1611px #FFF , 934px 1955px #FFF , 1250px 64px #FFF , 1207px 1056px #FFF , 1219px 1351px #FFF , 351px 1059px #FFF , 59px 1930px #FFF , 1408px 1404px #FFF , 1593px 124px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.list {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 2rem;
  list-style: none;
}

.list li .links {
  color: #1bffff;
  text-decoration: none;
  transition: .3s ease-in-out;
}

.list li .links:hover {
  color: #fff;
}

.arrow {
  position: fixed;
  bottom: 5%;
  left: 5%;
  transition: .3s ease-in-out;
  z-index: 300;
}

.arrow:hover {
  filter: brightness(2);
  cursor: pointer;
}

h1 {
  font-weight: 300;
  color: #1bffff;
  text-align: center;
  position: absolute;
  z-index: 100;
  top: 2%;
  left: 0;
  right: 0;
}

.docs {
  width: 30%;
  height: 100%;
  position: absolute;
  z-index: 300;
}

.docs .doc-list {
  list-style: none;
  color: #9fffff;
  padding: 80px 40px;
  margin-top: 40px;
  font-size: 1.5rem;
}

.docs .doc-list li {
  padding: 20px;
  transition: .2s ease-in-out;
}

.docs .doc-list li:hover {
  font-size: 1.7rem;
  color: #1bffff;
  cursor: pointer;
}

#poly, #myCanvas, #level1, #level2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#description {
  color: #9fffff;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 40px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
  z-index: 100;
}

#about {
  color: #9fffff;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 23%;
  font-size: 2rem;
}

.options-in {
  position: absolute;
  z-index: 300;
  width: 60%;
  height: auto;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 15%;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.options-pl {
  position: absolute;
  z-index: 300;
  width: 60%;
  height: auto;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 20%;
}

.options {
  display: flex;
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  justify-content: space-between;
  z-index: 300;
}

.options .opt {
  border: 1px solid #1BFFFF;
  color: #1BFFFF;
  padding: 10px;
  font-size: 2em;
  transition: .3s ease-in-out;
}

.options .opt:hover {
  color: #9fffff;
  border-color: #9fffff;
  background-color: #9fffff10;
  cursor: pointer;
}

.options .correct {
  border: 1px solid #73ff66;
  color: #73ff66;
}

.options .correct:hover {
  cursor: default;
}

.options .wrong {
  border: 1px solid #ff665c;
  color: #ff665c;
}

.options .wrong:hover {
  cursor: default;
}

.level-clear {
  position: absolute;
  border: 1px solid #1BFFFF;
  color: #1BFFFF;
  z-index: 300;
  padding: 20px;
  font-size: 2em;
  top: 40%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  display: none;
}

.level-clear:hover {
  color: #9fffff;
  border-color: #9fffff;
}

.scoreboard {
  color: #fff;
  text-align: right;
  padding: 20px;
}

.scoreboard #points {
  color: #1bffff;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  #title-first, #title {
    font-size: 3em;
  }
  .list {
    font-size: 1.5em;
  }
  .options-in, .options-pl {
    bottom: 30%;
  }
  .docs {
    width: 55%;
  }
  .docs .doc-list {
    font-size: 0.75em;
  }
  .docs .doc-list li:hover {
    font-size: 1.2em;
  }
  #description {
    font-size: 0.75em;
  }
  #about {
    font-size: 1.25em;
    width: 60%;
  }
  .options .opt {
    font-size: 0.75em;
  }
  .level-clear {
    font-size: 1.5em;
    top: 35%;
  }
  .scoreboard {
    margin-top: 100px;
  }
  .arrow {
    width: 5%;
  }
  #poly, #myCanvas, #level1, #level2 {
    width: 80%;
  }
}
/*# sourceMappingURL=styles.css.map */